{% extends 'base.html' %}
{% block content %}

 <center><h1 class="page-title">Movies</h1></center>
    <ul>
      <table class="table-striped table-hover"> 
        <tr>
            <th class="col-md-3">Beer ID</th>
            <th class="col-md-3">Movie Year</th>
            <th class="col-md-3">IMDB Link</th>
        </tr>
    
    {% for beer in beers %}
        <tr> 
            <td>
                <a href="/beer-detail/{{ beer.beer_id }}" id="id_beer">{{ beer.title }} 
            </td>
            <td>{{ beer.beer_name }}</td>
            <td><a href="{{ beer.imdb_url }}">{{ beer.style }}</a>
            </td>
        </tr>
    {% endfor %}

    </table>
    </ul>
<script>

</script>
{% endblock %}
