{% extends 'base.html' %}
{% block content %}

 <center><h1 class="page-title">Beer Styles</h1></center>
    <ul>
   
      <table class="table-striped table-hover"> 
        <tr>
            <th class="col-md-3">Style Name</th>
            <th class="col-md-3">User ID</th>
            <!-- <th class="col-md-3">No. Of Movies Rated</th> -->
        </tr>
    
    {% for user in users %}
        <tr> 
            <td>
                {{ user.email }} 
            </td>
            <td><a href="/user-profile/{{ user.user_id }}" id="id_user">{{ user.user_id }}</a>
            </td>
        </tr>
    {% endfor %}

    </table>
    </ul>
<script>

</script>
{% endblock %}
